# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp

# System files
.Trashes