# macOS
.DS_Store

# Windows
Thumbs.db

# laTex
*.aux
*.fdb_latexmk
*.fls
*.out
*.synctex.gz
*.xdv


# VSCode
.vscode/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.log
*.tmp

# System files
.Trashes